.help {
  width: 80%;
  max-width: 500px;
  margin: 20px auto;
  //   height: 300px;
  box-shadow: inset 0 0 15px #00000050;
  border-radius: 15px;

  & form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2%;
    height: 80vh;

    & div {
      width: 160px;
      margin: auto;
      //border: 1px solid #000;

      & label {
        position: absolute;
        transform: translate(5px, 3px);
        pointer-events: none;
        //border: 1px solid #000;
        transition: all 0.5s ease;
      }

      & input {
        width: 160px;
        height: 30px;
        //border-radius: 5px;
      }

      & TextArea {
        width: 160px;
        height: 200px;
        //border: 1px;
      }

      .labelUp {
        transform: translate(5px, -28px);
      }
    }

    & button {
      width: 60px;
      border-radius: 15px;
      margin: auto;
      background: transparent;
      font-weight: bolder;
    }
  }
}
